ion-toolbar {
  --ion-background-color: #54d61c;
  // --ion-background-color: # 28a745; //from landing page
}

ion-content{

  --ion-background-color:#181818;
}

.new-background-color{
  --background: #54d61c;
}

img{
  height: 225px;
  width:90%;
  margin: auto;
  display: block;
}