<ion-header>
  <ion-toolbar class="titlebar">
    <ion-title class="ion-text-center">{{movie.title}}</ion-title>
    <ion-button (click)="dismiss()" slot="end" size="small" class="ion-margin-end">Close</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<div slot="fixed" class="bg-image" style="background-image: url(movie.img);">
  <img style="width:200%;" [src]="movie.img"/>
</div>
<div class="bg-text">
  <img style="width:100%" [src]="movie.img" (click)="showVideo(movie.playLink, movie.title)"/>
</div>
</ion-content>

<ion-content>
  <ion-list style="text-align:center" > 
  <ion-button size="small" color="success" (click)="showVideo(movie.playLink, movie.title)">Play</ion-button>
  <!-- we need to open youtube app when clicked on this button -->
  <ion-button size="small" color="danger" onclick="window.open('movie.playLink', '_system', 'location=yes');">YouTube</ion-button>
</ion-list>
    <ion-card>
      <ion-card-content>
        {{movie.description}}
        <ion-grid>
          <ion-row>
            <ion-col>
                <ion-label><strong>Language</strong></ion-label>
            </ion-col>
            <ion-col>
                <strong>Year</strong>
            </ion-col>
            <ion-col>
                <strong>Duration</strong>
             </ion-col>                
          </ion-row>
          <ion-row>
            <ion-col color="primary">
                {{movie.language}}
            </ion-col>
            <ion-col>
                {{movie.year}}
            </ion-col>
            <ion-col>
              {{movie.runningTime}}
             </ion-col>                
          </ion-row>
          <ion-row *ngIf="movie.description">
            <ion-col>
                <strong>Storyline:</strong>
            </ion-col>
             <ion-col>
              {{movie.description}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <strong>Starring:</strong> {{movie.staring}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <strong>Director:</strong> {{movie.directedBy}}
            </ion-col>
          </ion-row>           
          <ion-row>
            <ion-col>
                <strong>Producer:</strong> {{movie.producedBy}}
            </ion-col>
          </ion-row> 
          <ion-row>
            <ion-col>
                <strong>Music:</strong> {{movie.musicBy}}
            </ion-col>
          </ion-row>                     
          <ion-row>
            <ion-col>
                <strong>Writter:</strong> {{movie.writtenBy}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <strong>Cinematography:</strong> {{movie.cinematography}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <strong>Editor:</strong> {{movie.editedBy}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <strong>Production:</strong> {{movie.Production}}
            </ion-col>
          </ion-row>
        </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>