ion-toolbar {
  --ion-background-color: #28a745;
}

ion-content{
  --ion-background-color:#181818;
}

/*.new-background-color{
  --background: #54d61c;
}*/


ion-col {
  color:#cfcfcf;
}

img{
  height: 225px;
  width:90%;
  margin: auto;
  display: block;
}