ion-toolbar {
  --background: #69bb7b;
}

ion-content{
  --ion-background-color:#181818;
}

ion-list{
  --ion-background-color:#181818;
}

/*.new-background-color{
  --background: #54d61c;
}*/


ion-col {
  color:#cfcfcf;
}

img{
  height: 225px;
  // width:50%;
  margin: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.bg-image {
  /* The image used */
  //background-image: url("movie.img");
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  // height: 100%; 
  // width:100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  //width: 100%;
  padding: 2px;
  text-align: center;
  border-radius: 10px;
}