<ion-header class="ion-no-border new-background-color">
  <ion-toolbar class="new-background-color">
    <ion-title class="ion-text-center">navaras</ion-title>
  </ion-toolbar>
  <ion-searchbar color="light" class="searchbar-input" (ionInput)="search($event)"></ion-searchbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-segment style="background:#5a5a5a;" color="tertiary" value="all">
    <ion-segment-button style="color: white; " value="all" (click)="getList('')">
      <ion-label>All</ion-label>
    </ion-segment-button> 
    <ion-segment-button style="color: white; " value="action" (click)="getList('genre=action')">
      <ion-label>Action</ion-label>
    </ion-segment-button>
    <ion-segment-button style="color: white; " value="romance" (click)="getList('genre=romance')">
      <ion-label>Romance</ion-label>
    </ion-segment-button>
    <ion-segment-button style="color: white;" value="comedy" (click)="getList('genre=comedy')">
      <ion-label>Comedy</ion-label>
    </ion-segment-button>
    <ion-segment-button style="color: white;" value="horror" (click)="getList('genre=horror')">
      <ion-label>Horror</ion-label>
    </ion-segment-button>            
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="3" sizeMd="4" sizeXs="6" *ngFor="let m of movies;let i = index">
        <!-- <ion-card>
          <ion-card-header> -->
            <img [src]="m.img" (click)="showDetails(m)"/>
          <!-- </ion-card-header>
        </ion-card> -->
      </ion-col>
    </ion-row>
  </ion-grid>
   
  <ion-infinite-scroll threshold="100px" (ionInfinite)="refreshList($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>