.titlebar {
  --background: #28a745; //from landing page
}

ion-content {
  --ion-background-color:#181818;
}

/*.new-background-color{
  --background: #54d61c;
}*/

.menucontent {
  --ion-background-color:#ffffff !important;
}

ion-menu {
  --ion-background-color: var(--ion-color-secondary);
  --ion-text-color: var(--ion-color-primary-contrast);

  ion-toolbar {
    --background: var(--ion-color-secondary);
  }

  ion-list {/* optional, but it needs when you use gradient as a background color.*/
    background: transparent;
  }
}

ion-segment-button {
  color: white;
}

ion-segment {
  --ion-background-color:#5a5a5a;
  background-color:#5a5a5a;
}

.movieImg {
  height: 150px;
  width:100%;
  margin: auto;
  display: block;
  border-radius: 10px;
}

.headerimg {
  height:25px;
  width:25px;
  margin-right: 20px;
  display: block !important;
}

.viewVideoModal{
      width: 100%;
      height: 100%;
}